{
  "swagger": "2.0",
  "info": {
    "version": "56c7e5a, 2026-05-28T11:16:21Z",
    "title": "Connector",
    "description": "Enhanced Quivo API documentation with additional descriptions and examples"
  },
  "host": "api.quivo.co",
  "tags": [
    {
      "name": "addresses"
    },
    {
      "name": "apiKeyRequests"
    },
    {
      "name": "articles"
    },
    {
      "name": "audits"
    },
    {
      "name": "bundles"
    },
    {
      "name": "carriers"
    },
    {
      "name": "contacts"
    },
    {
      "name": "countries"
    },
    {
      "name": "currencies"
    },
    {
      "name": "customerInquiries"
    },
    {
      "name": "dashboards"
    },
    {
      "name": "files"
    },
    {
      "name": "fulfillmentPlans"
    },
    {
      "name": "inbounds"
    },
    {
      "name": "invoices"
    },
    {
      "name": "items"
    },
    {
      "name": "languages"
    },
    {
      "name": "notifications"
    },
    {
      "name": "orders"
    },
    {
      "name": "ping"
    },
    {
      "name": "returnApp"
    },
    {
      "name": "returnLinks"
    },
    {
      "name": "returns"
    },
    {
      "name": "sellers"
    },
    {
      "name": "shipments"
    },
    {
      "name": "shippingServiceGroups"
    },
    {
      "name": "shopOrders"
    },
    {
      "name": "shops"
    },
    {
      "name": "status"
    },
    {
      "name": "storedAddresses"
    },
    {
      "name": "subscriptionPackages"
    },
    {
      "name": "subscriptions"
    },
    {
      "name": "track"
    },
    {
      "name": "transports"
    },
    {
      "name": "users"
    },
    {
      "name": "warehouses"
    },
    {
      "name": "zendesk"
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/addresses/{sellerId}": {
      "get": {
        "tags": [
          "addresses"
        ],
        "summary": "Get list of addresses stored in the seller's address book",
        "description": "ADD ENDPOINT DESCRIPTION HERE",
        "operationId": "addressGet",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "sellerId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64",
            "description": "The unique identifier for the seller account. This ID is used to scope operations to a specific seller's data and resources."
          }
        ],
        "responses": {
          "200": {
            "description": "ADD RESPONSE DESCRIPTION HERE - 200",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AddressGet"
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "addresses"
        ],
        "summary": "Store a new address in the seller's address book",
        "description": "ADD ENDPOINT DESCRIPTION HERE",
        "operationId": "addressPost",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "sellerId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64",
            "description": "The unique identifier for the seller account. This ID is used to scope operations to a specific seller's data and resources."
          },
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/AddressPost"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/AddressGet"
            }
          }
        }
      }
    },
    "/addresses/{sellerId}/default/{defaultAddressType}": {
      "get": {
        "tags": [
          "addresses"
        ],
        "summary": "Get default address of given type",
        "description": "ADD ENDPOINT DESCRIPTION HERE",
        "operationId": "addressDefaultGet",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "sellerId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64",
            "description": "The unique identifier for the seller account. This ID is used to scope operations to a specific seller's data and resources."
          },
          {
            "name": "defaultAddressType",
            "in": "path",
            "required": true,
            "type": "string",
            "enum": [
              "SHIP_FROM",
              "PICKUP",
              "RETURN"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/AddressGet"
            }
          }
        }
      },
      "put": {
        "tags": [
          "addresses"
        ],
        "summary": "Set default address of given type",
        "description": "ADD ENDPOINT DESCRIPTION HERE",
        "operationId": "addressDefaultPut",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "sellerId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64",
            "description": "The unique identifier for the seller account. This ID is used to scope operations to a specific seller's data and resources."
          },
          {
            "name": "defaultAddressType",
            "in": "path",
            "required": true,
            "type": "string",
            "enum": [
              "SHIP_FROM",
              "PICKUP",
              "RETURN"
            ]
          },
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/AddressId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/AddressGet"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "addresses"
        ],
        "summary": "Unset default address of given type",
        "description": "ADD ENDPOINT DESCRIPTION HERE",
        "operationId": "addressDefaultDelete",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "sellerId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64",
            "description": "The unique identifier for the seller account. This ID is used to scope operations to a specific seller's data and resources."
          },
          {
            "name": "defaultAddressType",
            "in": "path",
            "required": true,
            "type": "string",
            "enum": [
              "SHIP_FROM",
              "PICKUP",
              "RETURN"
            ]
          }
        ],
        "responses": {
          "default": {
            "description": "successful operation"
          }
        }
      }
    },
    "/addresses/{sellerId}/{addressId}": {
      "put": {
        "tags": [
          "addresses"
        ],
        "summary": "Update a stored address in the seller's address book",
        "description": "ADD ENDPOINT DESCRIPTION HERE",
        "operationId": "addressPut",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "sellerId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64",
            "description": "The unique identifier for the seller account. This ID is used to scope operations to a specific seller's data and resources."
          },
          {
            "name": "addressId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/AddressGet"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "addresses"
        ],
        "summary": "Delete a stored address from the seller's address book",
        "description": "ADD ENDPOINT DESCRIPTION HERE",
        "operationId": "addressDelete",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "sellerId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64",
            "description": "The unique identifier for the seller account. This ID is used to scope operations to a specific seller's data and resources."
          },
          {
            "name": "addressId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "default": {
            "description": "successful operation"
          }
        }
      }
    },
    "/apiKeyRequests": {
      "get": {
        "tags": [
          "apiKeyRequests"
        ],
        "summary": "Get list of API requests",
        "description": "ADD ENDPOINT DESCRIPTION HERE",
        "operationId": "getApiKeyRequests",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Search query string used to filter results. This field supports specific syntax for filtering across multiple fields."
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Optional sorting criteria for the results. Format is typically 'field:direction' (e.g., 'created:desc')."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64",
            "description": "The page number to retrieve when using offset-based pagination. Ignored if 'searchAfter' is provided."
          },
          {
            "name": "searchAfter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Used for cursor-based pagination. Pass the 'sort' key value from the last item of the previous page to retrieve the next set of results efficiently. Overrides 'page'."
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64",
            "description": "The maximum number of items to return per page. Used for both offset and cursor-based pagination."
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ApiRequestGet"
              }
            }
          }
        }
      }
    },
    "/apiKeyRequests/{sellerId}": {
      "post": {
        "tags": [
          "apiKeyRequests"
        ],
        "summary": "Request API Key",
        "description": "ADD ENDPOINT DESCRIPTION HERE",
        "operationId": "requestApiKey",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "sellerId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64",
            "description": "The unique identifier for the seller account. This ID is used to scope operations to a specific seller's data and resources."
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "boolean"
            }
          }
        }
      }
    },
    "/articles": {
      "get": {
        "tags": [
          "articles"
        ],
        "summary": "Search articles",
        "description": "ADD ENDPOINT DESCRIPTION HERE",
        "operationId": "searchGetArticles",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Search query string used to filter results. This field supports specific syntax for filtering across multiple fields."
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Optional sorting criteria for the results. Format is typically 'field:direction' (e.g., 'created:desc')."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64",
            "description": "The page number to retrieve when using offset-based pagination. Ignored if 'searchAfter' is provided."
          },
          {
            "name": "searchAfter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Used for cursor-based pagination. Pass the 'sort' key value from the last item of the previous page to retrieve the next set of results efficiently. Overrides 'page'."
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64",
            "description": "The maximum number of items to return per page. Used for both offset and cursor-based pagination."
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ArticleGetSummary"
              }
            }
          }
        }
      }
    },
    "/articles/{articleId}": {
      "get": {
        "tags": [
          "articles"
        ],
        "summary": "Get details of article by articleId",
        "description": "ADD ENDPOINT DESCRIPTION HERE",
        "operationId": "articlesGetArticle",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "articleId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64",
            "description": "The unique identifier for an article (product/SKU) in the system."
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ArticleGetDetail"
            }
          }
        }
      }
    },
    "/articles/{sellerId}": {
      "post": {
        "tags": [
          "articles"
        ],
        "summary": "Create a new article",
        "description": "ADD ENDPOINT DESCRIPTION HERE",
        "operationId": "articlesPostArticle",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "sellerId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64",
            "description": "The unique identifier for the seller account. This ID is used to scope operations to a specific seller's data and resources."
          },
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/ArticlePost"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ArticleGetDetail"
            }
          }
        }
      }
    },
    "/articles/{sellerId}/identifier/{articleIdentifier}": {
      "get": {
        "tags": [
          "articles"
        ],
        "summary": "Get details of article by articleIdentifier",
        "description": "ADD ENDPOINT DESCRIPTION HERE",
        "operationId": "articlesGetArticle",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "sellerId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64",
            "description": "The unique identifier for the seller account. This ID is used to scope operations to a specific seller's data and resources."
          },
          {
            "name": "articleIdentifier",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ArticleGetDetail"
            }
          }
        }
      }
    },
    "/articles/{sellerId}/validate": {
      "post": {
        "tags": [
          "articles"
        ],
        "summary": "Validate article PUT request",
        "description": "ADD ENDPOINT DESCRIPTION HERE",
        "operationId": "articlesPostValidate",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "sellerId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64",
            "description": "The unique identifier for the seller account. This ID is used to scope operations to a specific seller's data and resources."
          },
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/ArticlePost"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ArticleGetDetail"
            }
          }
        }
      }
    },
    "/articles/{sellerId}/{articleId}": {
      "get": {
        "tags": [
          "articles"
        ],
        "summary": "Get details of article by articleId",
        "description": "ADD ENDPOINT DESCRIPTION HERE",
        "operationId": "articlesGetArticle",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "sellerId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64",
            "description": "The unique identifier for the seller account. This ID is used to scope operations to a specific seller's data and resources."
          },
          {
            "name": "articleId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64",
            "description": "The unique identifier for an article (product/SKU) in the system."
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ArticleGetDetail"
            }
          }
        }
      },
      "put": {
        "tags": [
          "articles"
        ],
        "summary": "Update existing article by id",
        "description": "ADD ENDPOINT DESCRIPTION HERE",
        "operationId": "articlesPutArticle",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "sellerId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64",
            "description": "The unique identifier for the seller account. This ID is used to scope operations to a specific seller's data and resources."
          },
          {
            "name": "articleId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64",
            "description": "The unique identifier for an article (product/SKU) in the system."
          },
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ArticleGetDetail"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "articles"
        ],
        "summary": "Update existing article by id",
        "description": "ADD ENDPOINT DESCRIPTION HERE",
        "operationId": "articlesDeleteArticle",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "sellerId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64",
            "description": "The unique identifier for the seller account. This ID is used to scope operations to a specific seller's data and resources."
          },
          {
            "name": "articleId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64",
            "description": "The unique identifier for an article (product/SKU) in the system."
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ArticleGetDetail"
            }
          }
        }
      }
    },
    "/articles/{sellerId}/{articleId}/images": {
      "post": {
        "tags": [
          "articles"
        ],
        "summary": "Stores the article image information",
        "description": "ADD ENDPOINT DESCRIPTION HERE",
        "operationId": "articlesPostImage",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "sellerId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64",
            "description": "The unique identifier for the seller account. This ID is used to scope operations to a specific seller's data and resources."
          },
          {
            "name": "articleId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64",
            "description": "The unique identifier for an article (product/SKU) in the system."
          },
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/ArticleImagePost"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ArticleImageGet"
            }
          }
        }
      }
    },
    "/articles/{sellerId}/{articleId}/images/upload": {
      "post": {
        "tags": [
          "articles"
        ],
        "summary": "Creates a new upload link for the article image",
        "description": "ADD ENDPOINT DESCRIPTION HERE",
        "operationId": "articlesPostImageLink",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "sellerId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64",
            "description": "The unique identifier for the seller account. This ID is used to scope operations to a specific seller's data and resources."
          },
          {
            "name": "articleId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64",
            "description": "The unique identifier for an article (product/SKU) in the system."
          },
          {
            "name": "mimeType",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ArticleImageUpload"
            }
          }
        }
      }
    },
    "/articles/{sellerId}/{articleId}/images/{uuid}": {
      "delete": {
        "tags": [
          "articles"
        ],
        "summary": "Deletes existing article image by uuid",
        "description": "ADD ENDPOINT DESCRIPTION HERE",
        "operationId": "articlesDeleteImage",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "sellerId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64",
            "description": "The unique identifier for the seller account. This ID is used to scope operations to a specific seller's data and resources."
          },
          {
            "name": "articleId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64",
            "description": "The unique identifier for an article (product/SKU) in the system."
          },
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": "successful operation"
          }
        }
      }
    },
    "/articles/{sellerId}/{articleId}/validate": {
      "put": {
        "tags": [
          "articles"
        ],
        "summary": "Validate article PUT request",
        "description": "ADD ENDPOINT DESCRIPTION HERE",
        "operationId": "articlesPutValidate",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "sellerId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64",
            "description": "The unique identifier for the seller account. This ID is used to scope operations to a specific seller's data and resources."
          },
          {
            "name": "articleId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64",
            "description": "The unique identifier for an article (product/SKU) in the system."
          },
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ArticleGetDetail"
            }
          }
        }
      }
    },
    "/audits": {
      "get": {
        "tags": [
          "audits"
        ],
        "summary": "Search audits",
        "description": "ADD ENDPOINT DESCRIPTION HERE",
        "operationId": "auditSearch",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Search query string used to filter results. This field supports specific syntax for filtering across multiple fields."
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Optional sorting criteria for the results. Format is typically 'field:direction' (e.g., 'created:desc')."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64",
            "description": "The page number to retrieve when using offset-based pagination. Ignored if 'searchAfter' is provided."
          },
          {
            "name": "searchAfter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Used for cursor-based pagination. Pass the 'sort' key value from the last item of the previous page to retrieve the next set of results efficiently. Overrides 'page'."
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64",
            "description": "The maximum number of items to return per page. Used for both offset and cursor-based pagination."
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AuditGet"
              }
            }
          }
        }
      }
    },
    "/bundles": {
      "get": {
        "tags": [
          "bundles"
        ],
        "summary": "Search bundles",
        "description": "ADD ENDPOINT DESCRIPTION HERE",
        "operationId": "searchGetBundles",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Search query string used to filter results. This field supports specific syntax for filtering across multiple fields."
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Optional sorting criteria for the results. Format is typically 'field:direction' (e.g., 'created:desc')."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64",
            "description": "The page number to retrieve when using offset-based pagination. Ignored if 'searchAfter' is provided."
          },
          {
            "name": "searchAfter",
            "in": "query",
            "description": "Used for cursor-based pagination. Pass the 'sort' key value from the last item of the previous page to retrieve the next set of results efficiently. Overrides 'page'.",
            "required": false,
            "type": "string"
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64",
            "description": "The maximum number of items to return per page. Used for both offset and cursor-based pagination."
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BundleGetSummary"
              }
            }
          }
        }
      }
    },
    "/bundles/{sellerId}": {
      "post": {
        "tags": [
          "bundles"
        ],
        "summary": "Create a new bundle",
        "description": "ADD ENDPOINT DESCRIPTION HERE",
        "operationId": "bundlesPostBundle",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "sellerId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64",
            "description": "The unique identifier for the seller account. This ID is used to scope operations to a specific seller's data and resources."
          },
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/BundlePost"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/BundleGetDetail"
            }
          }
        }
      }
    },
    "/bundles/{sellerId}/{bundleId}": {
      "get": {
        "tags": [
          "bundles"
        ],
        "summary": "Get details of bundle by bundleId",
        "description": "ADD ENDPOINT DESCRIPTION HERE",
        "operationId": "bundlesGetBundle",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "sellerId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64",
            "description": "The unique identifier for the seller account. This ID is used to scope operations to a specific seller's data and resources."
          },
          {
            "name": "bundleId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/BundleGetDetail"
            }
          }
        }
      },
      "put": {
        "tags": [
          "bundles"
        ],
        "summary": "Update existing bundle by id",
        "description": "ADD ENDPOINT DESCRIPTION HERE",
        "operationId": "bundlesPutBundle",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "sellerId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64",
            "description": "The unique identifier for the seller account. This ID is used to scope operations to a specific seller's data and resources."
          },
          {
            "name": "bundleId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/BundleGetDetail"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "bundles"
        ],
        "summary": "Delete existing article by id",
        "description": "ADD ENDPOINT DESCRIPTION HERE",
        "operationId": "bundlesDeleteBundle",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "sellerId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64",
            "description": "The unique identifier for the seller account. This ID is used to scope operations to a specific seller's data and resources."
          },
          {
            "name": "bundleId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/BundleGetDetail"
            }
          }
        }
      }
    },
    "/carriers": {
      "get": {
        "tags": [
          "carriers"
        ],
        "summary": "Get list of all carriers",
        "description": "ADD ENDPOINT DESCRIPTION HERE",
        "operationId": "carrierGet",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CarrierGet"
              }
            }
          }
        }
      }
    },
    "/contacts/{sellerId}": {
      "get": {
        "tags": [
          "contacts"
        ],
        "summary": "Get all contacts with subscription types for the given seller",
        "description": "ADD ENDPOINT DESCRIPTION HERE",
        "operationId": "contactsGet",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "sellerId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64",
            "description": "The unique identifier for the seller account. This ID is used to scope operations to a specific seller's data and resources."
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ContactGet"
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "contacts"
        ],
        "summary": "Create a new contact for the given seller",
        "description": "ADD ENDPOINT DESCRIPTION HERE",
        "operationId": "contactPost",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "sellerId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64",
            "description": "The unique identifier for the seller account. This ID is used to scope operations to a specific seller's data and resources."
          },
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/ContactPost"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ContactGet"
            }
          }
        }
      }
    },
    "/contacts/{sellerId}/{contactId}": {
      "put": {
        "tags": [
          "contacts"
        ],
        "summary": "Updates an existing contact for the given seller",
        "description": "ADD ENDPOINT DESCRIPTION HERE",
        "operationId": "contactPut",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "sellerId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64",
            "description": "The unique identifier for the seller account. This ID is used to scope operations to a specific seller's data and resources."
          },
          {
            "name": "contactId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/ContactPost"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ContactGet"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "contacts"
        ],
        "summary": "Deletes contact for the given seller",
        "description": "ADD ENDPOINT DESCRIPTION HERE",
        "operationId": "contactDelete",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "sellerId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64",
            "description": "The unique identifier for the seller account. This ID is used to scope operations to a specific seller's data and resources."
          },
          {
            "name": "contactId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "default": {
            "description": "successful operation"
          }
        }
      }
    },
    "/countries": {
      "get": {
        "tags": [
          "countries"
        ],
        "summary": "Get list of all countries",
        "description": "ADD ENDPOINT DESCRIPTION HERE",
        "operationId": "countryGet",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CountryGet"
              }
            }
          }
        }
      }
    },
    "/currencies": {
      "get": {
        "tags": [
          "currencies"
        ],
        "summary": "Get list of all currencies",
        "description": "ADD ENDPOINT DESCRIPTION HERE",
        "operationId": "currencyGet",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CurrencyGet"
              }
            }
          }
        }
      }
    },
    "/currencies/exchangeRates": {
      "get": {
        "tags": [
          "currencies"
        ],
        "summary": "Get list of all currency exchange rates",
        "description": "ADD ENDPOINT DESCRIPTION HERE",
        "operationId": "currencyExchangeRateGet",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CurrencyExchangeRateGet"
              }
            }
          }
        }
      }
    },
    "/customerInquiries": {
      "get": {
        "tags": [
          "customerInquiries"
        ],
        "summary": "Search customer inquiries",
        "description": "ADD ENDPOINT DESCRIPTION HERE",
        "operationId": "searchGetCustomerInquiries",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Search query string used to filter results. This field supports specific syntax for filtering across multiple fields."
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Optional sorting criteria for the results. Format is typically 'field:direction' (e.g., 'created:desc')."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64",
            "description": "The page number to retrieve when using offset-based pagination. Ignored if 'searchAfter' is provided."
          },
          {
            "name": "searchAfter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Used for cursor-based pagination. Pass the 'sort' key value from the last item of the previous page to retrieve the next set of results efficiently. Overrides 'page'."
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64",
            "description": "The maximum number of items to return per page. Used for both offset and cursor-based pagination."
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CustomerInquirySummary"
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "customerInquiries"
        ],
        "summary": "Create a new customer inquiry.",
        "description": "ADD ENDPOINT DESCRIPTION HERE",
        "operationId": "postCustomerInquiry",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/CustomerInquiryPost"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/CustomerInquiryGet"
            }
          }
        }
      }
    },
    "/customerInquiries/attachments": {
      "post": {
        "tags": [
          "customerInquiries"
        ],
        "summary": "Creates a new upload link for the customer inquiry attachment",
        "description": "ADD ENDPOINT DESCRIPTION HERE",
        "operationId": "postAttachmentLink",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "mimeType",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/AttachmentPostResult"
            }
          }
        }
      }
    },
    "/customerInquiries/{customerInquiryId}": {
      "get": {
        "tags": [
          "customerInquiries"
        ],
        "summary": "Get details of customer inquiry by customerInquiryId",
        "description": "ADD ENDPOINT DESCRIPTION HERE",
        "operationId": "getCustomerInquiry",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "customerInquiryId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/CustomerInquiryGet"
            }
          }
        }
      }
    },
    "/customerInquiries/{customerInquiryId}/messages": {
      "post": {
        "tags": [
          "customerInquiries"
        ],
        "summary": "Creates a new message for the customer inquiry",
        "description": "ADD ENDPOINT DESCRIPTION HERE",
        "operationId": "postCustomerInquiryMessage",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "customerInquiryId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/CustomerInquiryMessagePost"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/CustomerInquiryGet"
            }
          }
        }
      }
    },
    "/customerInquiries/{customerInquiryId}/ratings": {
      "post": {
        "tags": [
          "customerInquiries"
        ],
        "summary": "Creates rating message and adds rating to the customer inquiry",
        "description": "ADD ENDPOINT DESCRIPTION HERE",
        "operationId": "postCustomerInquiryRating",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "customerInquiryId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/RatingPost"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/CustomerInquiryGet"
            }
          }
        }
      }
    },
    "/customerInquiries/{customerInquiryId}/resolve": {
      "post": {
        "tags": [
          "customerInquiries"
        ],
        "summary": "Resolves customer inquiry and adds resolve message to it",
        "description": "ADD ENDPOINT DESCRIPTION HERE",
        "operationId": "postCustomerInquiryResolve",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "customerInquiryId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/CustomerInquiryGet"
            }
          }
        }
      }
    },
    "/dashboards": {
      "get": {
        "tags": [
          "dashboards"
        ],
        "summary": "Get list of supported dashboard graphs",
        "description": "ADD ENDPOINT DESCRIPTION HERE",
        "operationId": "dashboardGet",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/DashboardGet"
            }
          }
        }
      },
      "post": {
        "tags": [
          "dashboards"
        ],
        "summary": "Request dashboards",
        "description": "ADD ENDPOINT DESCRIPTION HERE",
        "operationId": "dashboardPost",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "sellerId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64",
            "description": "The unique identifier for the seller account. This ID is used to scope operations to a specific seller's data and resources."
          },
          {
            "name": "warehouse",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "range",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "rangeStart",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "rangeEnd",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/DashboardPost"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Response"
            }
          }
        }
      }
    },
    "/files": {
      "post": {
        "tags": [
          "files"
        ],
        "summary": "Initiate file upload",
        "description": "ADD ENDPOINT DESCRIPTION HERE",
        "operationId": "filesPost",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/FilePostResult"
            }
          }
        }
      }
    },
    "/fulfillmentPlans/{sellerId}": {
      "get": {
        "tags": [
          "fulfillmentPlans"
        ],
        "summary": "List fulfillment plan when entries for given seller",
        "description": "ADD ENDPOINT DESCRIPTION HERE",
        "operationId": "fulfillmentPlansGet",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "sellerId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64",
            "description": "The unique identifier for the seller account. This ID is used to scope operations to a specific seller's data and resources."
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PlanWhenGet"
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "fulfillmentPlans"
        ],
        "summary": "Create a new fulfillment plan entry for the given seller",
        "description": "ADD ENDPOINT DESCRIPTION HERE",
        "operationId": "fulfillmentPlansPost",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "sellerId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64",
            "description": "The unique identifier for the seller account. This ID is used to scope operations to a specific seller's data and resources."
          },
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/PlanWhenPost"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/PlanWhenGet"
            }
          }
        }
      }
    },
    "/fulfillmentPlans/{sellerId}/preview": {
      "post": {
        "tags": [
          "fulfillmentPlans"
        ],
        "summary": "Previews the results of a fulfillment plan entry for the given seller",
        "description": "ADD ENDPOINT DESCRIPTION HERE",
        "operationId": "fulfillmentPlansPreview",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "sellerId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64",
            "description": "The unique identifier for the seller account. This ID is used to scope operations to a specific seller's data and resources."
          },
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/PreviewRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PreviewFulfillmentOrder"
              }
            }
          }
        }
      }
    },
    "/fulfillmentPlans/{sellerId}/skuAddition": {
      "post": {
        "tags": [
          "fulfillmentPlans"
        ],
        "summary": "Add a new SKU addition to the fulfillment plan of the given seller",
        "description": "ADD ENDPOINT DESCRIPTION HERE",
        "operationId": "fulfillmentPlansPostSkuAddition",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "sellerId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64",
            "description": "The unique identifier for the seller account. This ID is used to scope operations to a specific seller's data and resources."
          },
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/AddSkuAdditionRequest"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "successful operation"
          }
        }
      }
    },
    "/fulfillmentPlans/{sellerId}/skuFork": {
      "post": {
        "tags": [
          "fulfillmentPlans"
        ],
        "summary": "Add a new SKU fork to the fulfillment plan of the given seller. This is usally used to map sets of products, where one SKU consists of several other SKUs.",
        "description": "ADD ENDPOINT DESCRIPTION HERE",
        "operationId": "fulfillmentPlansPostSkuFork",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "sellerId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64",
            "description": "The unique identifier for the seller account. This ID is used to scope operations to a specific seller's data and resources."
          },
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/AddSkuForkRequest"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "successful operation"
          }
        }
      }
    },
    "/fulfillmentPlans/{sellerId}/skuMapping": {
      "post": {
        "tags": [
          "fulfillmentPlans"
        ],
        "summary": "Add a new SKU mapping to the fulfillment plan of the given seller",
        "description": "ADD ENDPOINT DESCRIPTION HERE",
        "operationId": "fulfillmentPlansPostSkuMapping",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "sellerId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64",
            "description": "The unique identifier for the seller account. This ID is used to scope operations to a specific seller's data and resources."
          },
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/AddSkuMappingRequest"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "successful operation"
          }
        }
      }
    },
    "/fulfillmentPlans/{sellerId}/skuRemoval": {
      "post": {
        "tags": [
          "fulfillmentPlans"
        ],
        "summary": "Add a new SKU removal to the fulfillment plan of the given seller",
        "description": "ADD ENDPOINT DESCRIPTION HERE",
        "operationId": "fulfillmentPlansPostSkuRemoval",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "sellerId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64",
            "description": "The unique identifier for the seller account. This ID is used to scope operations to a specific seller's data and resources."
          },
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/AddSkuRemovalRequest"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "successful operation"
          }
        }
      }
    },
    "/fulfillmentPlans/{sellerId}/{planWhenId}": {
      "put": {
        "tags": [
          "fulfillmentPlans"
        ],
        "summary": "Updates an existing fulfillment plan entry for the given seller.",
        "description": "ADD ENDPOINT DESCRIPTION HERE",
        "operationId": "fulfillmentPlansPut",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "sellerId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64",
            "description": "The unique identifier for the seller account. This ID is used to scope operations to a specific seller's data and resources."
          },
          {
            "name": "planWhenId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/PlanWhenPost"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/PlanWhenGet"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "fulfillmentPlans"
        ],
        "summary": "Deletes the given fulfillment plan when entry for the given seller",
        "description": "ADD ENDPOINT DESCRIPTION HERE",
        "operationId": "fulfillmentPlansDelete",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "sellerId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64",
            "description": "The unique identifier for the seller account. This ID is used to scope operations to a specific seller's data and resources."
          },
          {
            "name": "planWhenId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "default": {
            "description": "successful operation"
          }
        }
      }
    },
    "/inbounds": {
      "get": {
        "tags": [
          "inbounds"
        ],
        "summary": "Search inbounds",
        "description": "ADD ENDPOINT DESCRIPTION HERE",
        "operationId": "searchGetInbounds",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Search query string used to filter results. This field supports specific syntax for filtering across multiple fields."
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Optional sorting criteria for the results. Format is typically 'field:direction' (e.g., 'created:desc')."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64",
            "description": "The page number to retrieve when using offset-based pagination. Ignored if 'searchAfter' is provided."
          },
          {
            "name": "searchAfter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Used for cursor-based pagination. Pass the 'sort' key value from the last item of the previous page to retrieve the next set of results efficiently. Overrides 'page'."
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64",
            "description": "The maximum number of items to return per page. Used for both offset and cursor-based pagination."
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/InboundSummary"
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "inbounds"
        ],
        "summary": "Create a new inbound.",
        "description": "ADD ENDPOINT DESCRIPTION HERE",
        "operationId": "postInbound",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/InboundPost"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/InboundPostResult"
            }
          }
        }
      }
    },
    "/inbounds/{inboundId}": {
      "get": {
        "tags": [
          "inbounds"
        ],
        "summary": "Get details of inbound by inboundId",
        "description": "ADD ENDPOINT DESCRIPTION HERE",
        "operationId": "getInbound",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "inboundId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/InboundGet"
            }
          }
        }
      },
      "put": {
        "tags": [
          "inbounds"
        ],
        "summary": "Update existing inbound by id",
        "description": "ADD ENDPOINT DESCRIPTION HERE",
        "operationId": "putInbound",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "inboundId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/InboundGet"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "inbounds"
        ],
        "summary": "Cancel inbound by inboundId",
        "description": "ADD ENDPOINT DESCRIPTION HERE",
        "operationId": "inboundCancel",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "inboundId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "boolean"
            }
          }
        }
      }
    },
    "/inbounds/{inboundId}/validate": {
      "put": {
        "tags": [
          "inbounds"
        ],
        "summary": "Check missing inbound data and update it",
        "description": "ADD ENDPOINT DESCRIPTION HERE",
        "operationId": "inboundValidate",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "inboundId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "boolean"
            }
          }
        }
      }
    },
    "/invoices": {
      "get": {
        "tags": [
          "invoices"
        ],
        "summary": "Search invoices",
        "description": "",
        "operationId": "searchInvoices",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Search query string used to filter results. This field supports specific syntax for filtering across multiple fields."
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Optional sorting criteria for the results. Format is typically 'field:direction' (e.g., 'created:desc')."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64",
            "description": "The page number to retrieve when using offset-based pagination. Ignored if 'searchAfter' is provided."
          },
          {
            "name": "searchAfter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Used for cursor-based pagination. Pass the 'sort' key value from the last item of the previous page to retrieve the next set of results efficiently. Overrides 'page'."
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64",
            "description": "The maximum number of items to return per page. Used for both offset and cursor-based pagination."
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/InvoiceSummary"
              }
            }
          }
        }
      }
    },
    "/invoices/downloadInvoice/{invoiceId}": {
      "get": {
        "tags": [
          "invoices"
        ],
        "summary": "Get presigned URL for invoice PDF",
        "description": "",
        "operationId": "getInvoicePdfUrl",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "invoiceId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/InvoicePdfUrl"
            }
          }
        }
      }
    },
    "/invoices/{invoiceId}": {
      "get": {
        "tags": [
          "invoices"
        ],
        "summary": "Get details of invoice by invoiceId",
        "description": "",
        "operationId": "getInvoice",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "invoiceId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/InvoiceGet"
            }
          }
        }
      }
    },
    "/items": {
      "get": {
        "tags": [
          "items"
        ],
        "summary": "Search items",
        "description": "ADD ENDPOINT DESCRIPTION HERE",
        "operationId": "itemGet",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Search query string used to filter results. This field supports specific syntax for filtering across multiple fields."
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Optional sorting criteria for the results. Format is typically 'field:direction' (e.g., 'created:desc')."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64",
            "description": "The page number to retrieve when using offset-based pagination. Ignored if 'searchAfter' is provided."
          },
          {
            "name": "searchAfter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Used for cursor-based pagination. Pass the 'sort' key value from the last item of the previous page to retrieve the next set of results efficiently. Overrides 'page'."
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64",
            "description": "The maximum number of items to return per page. Used for both offset and cursor-based pagination."
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ItemInfo"
              }
            }
          }
        }
      }
    },
    "/items/itemHistories/{warehouseId}/{sellerId}": {
      "get": {
        "tags": [
          "items"
        ],
        "summary": "Get details of item history",
        "description": "ADD ENDPOINT DESCRIPTION HERE",
        "operationId": "itemHistoryGet",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "warehouseId",
            "in": "path",
            "description": "The unique identifier for the warehouse location where items are stored and orders are fulfilled.",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "sellerId",
            "in": "path",
            "description": "The unique identifier for the seller account. This ID is used to scope operations to a specific seller's data and resources.",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "query",
            "in": "query",
            "description": "Search query string used to filter results. This field supports specific syntax for filtering across multiple fields.",
            "required": false,
            "type": "string"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Optional sorting criteria for the results. Format is typically 'field:direction' (e.g., 'created:desc').",
            "required": false,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number to retrieve when using offset-based pagination. Ignored if 'searchAfter' is provided.",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "searchAfter",
            "in": "query",
            "description": "Used for cursor-based pagination. Pass the 'sort' key value from the last item of the previous page to retrieve the next set of results efficiently. Overrides 'page'.",
            "required": false,
            "type": "string"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The maximum number of items to return per page. Used for both offset and cursor-based pagination.",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "movementFrom",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "movementTo",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ItemHistorySummary"
              }
            }
          }
        }
      }
    },
    "/items/seller/{sellerId}/refresh": {
      "post": {
        "tags": [
          "items"
        ],
        "summary": "Refresh/Sync inventory with Warehouse",
        "description": "ADD ENDPOINT DESCRIPTION HERE",
        "operationId": "itemsInventorySyncWithWarehouse",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "sellerId",
            "in": "path",
            "description": "The unique identifier for the seller account. This ID is used to scope operations to a specific seller's data and resources.",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "default": {
            "description": "successful operation"
          }
        }
      }
    },
    "/items/{itemId}": {
      "get": {
        "tags": [
          "items"
        ],
        "summary": "Get details of item by itemId",
        "description": "ADD ENDPOINT DESCRIPTION HERE",
        "operationId": "itemGetItem",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "itemId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ItemInfo"
            }
          }
        }
      }
    },
    "/items/{itemId}/movements": {
      "get": {
        "tags": [
          "items"
        ],
        "summary": "Search item movements",
        "description": "ADD ENDPOINT DESCRIPTION HERE",
        "operationId": "itemGetMovements",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "itemId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64",
            "description": "The page number to retrieve when using offset-based pagination. Ignored if 'searchAfter' is provided."
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64",
            "description": "The maximum number of items to return per page. Used for both offset and cursor-based pagination."
          },
          {
            "name": "movementFrom",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "movementTo",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ItemMovements"
            }
          }
        }
      }
    },
    "/items/{itemId}/refresh": {
      "post": {
        "tags": [
          "items"
        ],
        "summary": "Refresh/sync inventory with warehouse for an item",
        "description": "ADD ENDPOINT DESCRIPTION HERE",
        "operationId": "itemRefreshWithWarehouse",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "itemId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ItemInfo"
            }
          }
        }
      }
    },
    "/items/{warehouseId}/{sellerId}": {
      "get": {
        "tags": [
          "items"
        ],
        "summary": "Search items by warehouse and seller",
        "description": "ADD ENDPOINT DESCRIPTION HERE",
        "operationId": "itemGetWarehouseSeller",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "warehouseId",
            "in": "path",
            "description": "The unique identifier for the warehouse location where items are stored and orders are fulfilled.",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "sellerId",
            "in": "path",
            "description": "The unique identifier for the seller account. This ID is used to scope operations to a specific seller's data and resources.",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "query",
            "in": "query",
            "description": "Search query string used to filter results. This field supports specific syntax for filtering across multiple fields.",
            "required": false,
            "type": "string"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Optional sorting criteria for the results. Format is typically 'field:direction' (e.g., 'created:desc').",
            "required": false,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number to retrieve when using offset-based pagination. Ignored if 'searchAfter' is provided.",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "searchAfter",
            "in": "query",
            "description": "Used for cursor-based pagination. Pass the 'sort' key value from the last item of the previous page to retrieve the next set of results efficiently. Overrides 'page'.",
            "required": false,
            "type": "string"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The maximum number of items to return per page. Used for both offset and cursor-based pagination.",
            "required": false,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ItemInfo"
              }
            }
          }
        }
      }
    },
    "/items/{warehouseId}/{sellerId}/storages": {
      "get": {
        "tags": [
          "items"
        ],
        "summary": "Search items storages by warehouse and seller",
        "description": "ADD ENDPOINT DESCRIPTION HERE",
        "operationId": "itemStorageGetWarehouseSeller",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "warehouseId",
            "in": "path",
            "description": "The unique identifier for the warehouse location where items are stored and orders are fulfilled.",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "sellerId",
            "in": "path",
            "description": "The unique identifier for the seller account. This ID is used to scope operations to a specific seller's data and resources.",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "isBlocked",
            "in": "query",
            "description": "Filter storages by blocked or non-blocked",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Optional sorting criteria for the results. Format is typically 'field:direction' (e.g., 'created:desc').",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ItemInfo"
              }
            }
          }
        }
      }
    },
    "/languages": {
      "get": {
        "tags": [
          "languages"
        ],
        "summary": "Get list of all languages",
        "description": "ADD ENDPOINT DESCRIPTION HERE",
        "operationId": "languageGet",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/LanguageGet"
              }
            }
          }
        }
      }
    },
    "/notifications": {
      "get": {
        "tags": [
          "notifications"
        ],
        "summary": "Search for notifications",
        "description": "ADD ENDPOINT DESCRIPTION HERE",
        "operationId": "notificationGet",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Search query string used to filter results. This field supports specific syntax for filtering across multiple fields."
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Optional sorting criteria for the results. Format is typically 'field:direction' (e.g., 'created:desc')."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64",
            "description": "The page number to retrieve when using offset-based pagination. Ignored if 'searchAfter' is provided."
          },
          {
            "name": "searchAfter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Used for cursor-based pagination. Pass the 'sort' key value from the last item of the previous page to retrieve the next set of results efficiently. Overrides 'page'."
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64",
            "description": "The maximum number of items to return per page. Used for both offset and cursor-based pagination."
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/NotificationSummary"
              }
            }
          }
        }
      }
    },
    "/notifications/id/{notificationId}": {
      "get": {
        "tags": [
          "notifications"
        ],
        "summary": "Get details of notification by id",
        "description": "ADD ENDPOINT DESCRIPTION HERE",
        "operationId": "notificationsGetNotification",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "notificationId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/NotificationDetail"
            }
          }
        }
      },
      "put": {
        "tags": [
          "notifications"
        ],
        "summary": "Sets the resolved timestamp to the current date",
        "description": "ADD ENDPOINT DESCRIPTION HERE",
        "operationId": "notificationResolve",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "notificationId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "successful operation"
          }
        }
      },
      "delete": {
        "tags": [
          "notifications"
        ],
        "summary": "Sets the resolved timestamp to null",
        "description": "ADD ENDPOINT DESCRIPTION HERE",
        "operationId": "notificationRemoveResolve",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "notificationId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "default": {
            "description": "successful operation"
          }
        }
      }
    },
    "/notifications/notificationTypes": {
      "get": {
        "tags": [
          "notifications"
        ],
        "summary": "Get list of all notification types with categories",
        "description": "ADD ENDPOINT DESCRIPTION HERE",
        "operationId": "notificationGetTypes",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/NotificationTypeDetail"
              }
            }
          }
        }
      }
    },
    "/notifications/test-email": {
      "post": {
        "tags": [
          "notifications"
        ],
        "summary": "Sends test email",
        "description": "ADD ENDPOINT DESCRIPTION HERE",
        "operationId": "notificationTestEmail",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/NotificationDetailImportantAdmin"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "successful operation"
          }
        }
      }
    },
    "/notifications/{hash}": {
      "get": {
        "tags": [
          "notifications"
        ],
        "summary": "Get details of notification by hash",
        "description": "ADD ENDPOINT DESCRIPTION HERE",
        "operationId": "notificationsGetNotification",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "hash",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/NotificationDetail"
            }
          }
        },
        "deprecated": true
      },
      "put": {
        "tags": [
          "notifications"
        ],
        "summary": "Sets the resolved timestamp to the current date",
        "description": "ADD ENDPOINT DESCRIPTION HERE",
        "operationId": "notificationResolve",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "hash",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "successful operation"
          }
        },
        "deprecated": true
      },
      "delete": {
        "tags": [
          "notifications"
        ],
        "summary": "Sets the resolved timestamp to null",
        "description": "ADD ENDPOINT DESCRIPTION HERE",
        "operationId": "notificationRemoveResolve",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "hash",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": "successful operation"
          }
        },
[...]
