@import "tailwindcss";
@import "fumadocs-ui/css/neutral.css";
@import "fumadocs-ui/css/preset.css";

:root {
  --primary: 10 100% 60.4%;
  --primary-foreground: 0 0% 100%;
  --accent: 10 100% 60.4%;
  --accent-foreground: 0 0% 100%;
  --ring: 10 100% 60.4%;
}

.dark {
  --primary: 10 100% 60.4%;
  --primary-foreground: 0 0% 100%;
  --accent: 10 100% 60.4%;
  --accent-foreground: 0 0% 100%;
  --ring: 10 100% 60.4%;
}
